<% title @title %>
<% content_for :content do %>
  <%= content_tag :div, nil, id: 'data', data: {resize_target_manually: true} %>
  <%= content_tag :div, class: "panel panel-review-list pagination-list panel-reviews #{'no-data' if @reviews.empty?}" do %>
    <%= render 'reviews/topbar_title' %>
    <div class="panel-body__menu"><%= render 'reviews/top_menu' %></div>
  <% end %>
  <%= content_tag :div, class: "page #{'page--no_data' if @reviews.empty?}" do %>
    <% if @reviews.empty? %>
      <%= render 'common/reviews/no_reviews' %>
    <% else %>
      <%= render 'reviews/reviews_gallery', reviews: @review %>
    <% end %>
  <% end %>
<% end %>
